In [4]:
import pandas as pd
import datetime as dt
import os

In [28]:
uber_path = "Data/Uber_RideData.csv"
df = pd.read_csv(uber_path)
df.head()

C:\Users\JonHicks\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance_miles
0,10.5,2011-04-18 19:55:00 UTC,-73.984565,40.745372,-73.951843,40.777743,5,2.82005139
1,12.0,2014-01-09 07:48:00 UTC,-73.991572,40.749877,-73.964142,40.757180,1,1.523470931
2,9.0,2014-09-14 01:14:00 UTC,-74.000412,40.718410,-73.999255,40.719967,2,0.123604497
3,9.3,2012-03-18 15:04:01 UTC,-73.991999,40.719834,-73.983515,40.743818,1,1.717548144
4,8.5,2012-02-06 13:09:00 UTC,-73.966765,40.761547,-73.990493,40.750787,1,1.449009736

In [29]:
# remove ' UTC' from datetime column before converting to a datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda s: str(s).replace(' UTC',''))
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance_miles
0,10.5,2011-04-18 19:55:00,-73.984565,40.745372,-73.951843,40.777743,5,2.82005139
1,12.0,2014-01-09 07:48:00,-73.991572,40.749877,-73.964142,40.757180,1,1.523470931
2,9.0,2014-09-14 01:14:00,-74.000412,40.718410,-73.999255,40.719967,2,0.123604497
3,9.3,2012-03-18 15:04:01,-73.991999,40.719834,-73.983515,40.743818,1,1.717548144
4,8.5,2012-02-06 13:09:00,-73.966765,40.761547,-73.990493,40.750787,1,1.449009736

In [30]:
# convert column to datetime
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], 
                                       format='%Y/%m/%d %H:%M:%S', errors = 'coerce', utc=None)
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance_miles
0,10.5,2011-04-18 19:55:00,-73.984565,40.745372,-73.951843,40.777743,5,2.82005139
1,12.0,2014-01-09 07:48:00,-73.991572,40.749877,-73.964142,40.757180,1,1.523470931
2,9.0,2014-09-14 01:14:00,-74.000412,40.718410,-73.999255,40.719967,2,0.123604497
3,9.3,2012-03-18 15:04:01,-73.991999,40.719834,-73.983515,40.743818,1,1.717548144
4,8.5,2012-02-06 13:09:00,-73.966765,40.761547,-73.990493,40.750787,1,1.449009736

In [41]:
# break up datetime column into separate columns to use for ride analysis
df['year'] = pd.DatetimeIndex(df['pickup_datetime']).year
df['month'] = pd.DatetimeIndex(df['pickup_datetime']).month
df['day'] = pd.DatetimeIndex(df['pickup_datetime']).day
df['weekday'] = pd.DatetimeIndex(df['pickup_datetime']).weekday
df['hour'] = pd.DatetimeIndex(df['pickup_datetime']).hour
df['minute'] = pd.DatetimeIndex(df['pickup_datetime']).minute
df['distance_miles'] = df['distance_miles'].apply(pd.to_numeric, downcast='float', errors='coerce')
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance_miles,year,month,day,hour,minute,weekday
0,10.5,2011-04-18 19:55:00,-73.984565,40.745372,-73.951843,40.777743,5,2.820051,2011,4,18,19,55,0
1,12.0,2014-01-09 07:48:00,-73.991572,40.749877,-73.964142,40.757180,1,1.523471,2014,1,9,7,48,3
2,9.0,2014-09-14 01:14:00,-74.000412,40.718410,-73.999255,40.719967,2,0.123604,2014,9,14,1,14,6
3,9.3,2012-03-18 15:04:01,-73.991999,40.719834,-73.983515,40.743818,1,1.717548,2012,3,18,15,4,6
4,8.5,2012-02-06 13:09:00,-73.966765,40.761547,-73.990493,40.750787,1,1.449010,2012,2,6,13,9,0

In [42]:
# check column types before performing further analysis
df.dtypes

fare_amount                 float64
pickup_datetime      datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
distance_miles              float64
year                          int64
month                         int64
day                           int64
hour                          int64
minute                        int64
weekday                       int64
dtype: object

In [43]:
# df.to_csv('Data/Uber_Cleaned.csv')

In [ ]:
# linear regression - day of week, hour, passenger count, distance_miles